<mat-form-field appearance="fill">
  <mat-select [(ngModel)]="year" (selectionChange)="changeYear()" placeholder="Année" name="year">
    <mat-option *ngFor="let y of yearTab" [value]="y">
      {{y}}
    </mat-option>
  </mat-select>
</mat-form-field>
<!--<mat-form-field appearance="fill">
  <mat-label>Sélectionner une année</mat-label>
  <select [(ngModel)]="year" (change)="changeYear()">
    <option *ngFor="let y of yearTab" [value]="y">{{y}}</option>
  </select>
</mat-form-field>-->

<div id="chartdivRadial"></div>
